.movies-card-list {
  margin: 70px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .movies-card-list {
    margin: 131px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .movies-card-list {
    margin: 90px 0 0 0;
  }
}