.search-form__radio {
  display: none;
}

.search-form__radio:checked+.search-form__slider {
background-color:#2BE080;
}
.search-form__radio:checked+.search-form__slider:before {
  background-color:  #FFFFFF;
  transform: translateX(22px);
  border-radius: 50%;
}

