.promo__btn {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  max-width: 89px;
  /* opacity: 0.6; */
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 0 0 25px 0;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background: none;
  white-space: nowrap;
  text-decoration: none;
}
