.error__link {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .error__link {
    font-size: 12px;
    line-height: 15px;
  }
}
