.about-me__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
@media screen and (max-width: 1024px) {
  .about-me__info {
    max-width: 364px;
  }
}
@media screen and (max-width: 767px) {
  .about-me__info {
    max-width: 292px;
  }
}
