.footer__list {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 0 20px;
  cursor: pointer;
}

.footer__list:first-child {
  margin: 0 761px 0 0;
  cursor: none;
}
@media screen and (max-width: 1024px) {
  .footer__list:first-child {
    margin: 0 329px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__list:first-child {
    margin: 0;
    order: 1;
  }
  .footer{
    margin: 0 0 12px 0;
  }
}
