.about-project__time {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .about-project__time {
    font-size: 11px;
  line-height: 13px;
  }
}
