.register__btn {
  background: #000000;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 128px 0 0;
  min-height: 45px;
  min-width: 396px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.register__btn:hover{
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .register__btn {
    min-width: 260px;
    font-size: 12px;
    line-height: 15px;
    margin: 157px 0 0 0;
  }
}
