.profile__btn {
  border-style: none;
  margin: 210px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  max-width: 410px;
  background: inherit;
  opacity: 0.5;
}

.profile__btn_active{
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .profile__btn {
    margin: 210px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .profile__btn {
    font-size: 12px;
  line-height: 15px;
  max-width: 300px;
  margin: 379px 0 0 0;
  }
}