.promo__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  max-width: 310px;
  opacity: 0.5;
  margin: 0 0 146px 0;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .promo__text {
    margin: 0 0 92px 0;
    max-width: 260px;
  }
}
