.film__error {
  display: none;
}

.film__error-active {
  font-family: Inter;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  margin: 12px 12px 12px 0;
  padding: 0;
  white-space: nowrap;
}
