.about-project__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
}
