.header__btn {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  max-width: 76px;
  text-decoration: none;
  background: #000000;
  cursor: pointer;
  border: none;
  margin: 21px 0 21px 30px;
  padding: 8px 20px;
  border-radius: 3px;
}

.header__btn:hover {
  opacity: 0.6;
}