.about-me__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 26px 0;
}
@media screen and (max-width: 1024px) {
  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }
}