
.nav {
  height: 44px;
  width: 100%;
  background-color: inherit;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 15px 0 15px 0;
  display: none;
}

.burger-btn {
    width: 28px;
    height: 30px;
    margin:0;
    position: relative;
    cursor: pointer;
}

.burger-btn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 28px;
    background-color: black;
    height: 3px;
}
.burger-btn__span{
    content: '';
    position: absolute;
    top: 13px;
    width: 28px;
    background-color: black;
    height: 3px;
}
.burger-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 28px;
    background-color: black;
    height: 3px;
}
@media screen and (max-width: 1024px) {
    .nav {
      display: flex;
    }
  }

/* 
.burger-btn__active {
    width: 28px;
    height: 30px;
    margin:0;
    position: relative;
    cursor: pointer;
}

.burger-btn__active:before {
   display: none;
}
.burger-btn__span_active{
    content: '';
    position: absolute;
    top: 13px;
    width: 28px;
    background-color: black;
    height: 3px;
}
.burger-btn__active:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 28px;
    background-color: black;
    height: 3px;
} */
