.about-me__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 23px 0;
  text-align: left;
  border-bottom: 1px solid #000000;
  letter-spacing: -0.04em;
}
