.search-form__btn {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background: #000000;
  border-radius: 48px;
  width: 58px;
}
