.footer__caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .footer__caption {
    order: 1;
    align-self: center;
    font-size: 12px;
    line-height: 15px;
  }
}
